.DS_Store
resources/
results/
config/bam_files_test.json
config/ldlink_token.txt
workflow/.DS_Store
workflow/reports/previous_runs/24-11-07/*.html
workflow/reports/previous_runs/24-11-11/*.html
workflow/reports/24-11-25-plate1/*.html
workflow/reports/markdown/
workflow/scripts/.ipynb_checkpoints/
workflow/scripts/__pycache__/
config/passwords/*
workflow/reports/00CHECK_SMPL_CONTAMINATION/*
reports/benchmarks/
workflow/reports/00CHECK_SMPL_CONTAMINATION/*
workflow/reports/00CHECK_SMPL_CONTAMINATION/check_sample_swaps.html
workflow/reports/02SCANPY/scanpy_annotation.html
workflow/reports/02SCANPY/scanpy_clustering.html
workflow/reports/02SCANPY/scanpy_clustering2.html
workflow/reports/02SCANPY/scanpy_clustering3.html
workflow/reports/02SCANPY/scanpy_extra.html
workflow/reports/02SCANPY/scanpy_pseudobulk.html
workflow/reports/02SCANPY/scanpy_qc_plate1.html
workflow/reports/02SCANPY/scanpy_qc_plate2.html
workflow/reports/02SCANPY/scanpy_qc_plate3.html
workflow/reports/02SCANPY/scanpy_subclustering.html
workflow/reports/03GENOTYPES-PRE/03genotyping_pre_impute_report.html
workflow/reports/03GENOTYPES-PRE/eqtlgenotypeshg38pretm.qc_report.html
workflow/reports/04GENOTYPES-POST/04genotyping_post_impute_report.html
workflow/reports/04GENOTYPES-POST/genotyping_post_impute_report.html
workflow/reports/05TENSORQTL/tensorqtl_report.html
workflow/reports/06QTL-REPLICATION/06replication_pi1_enrichment_report.html
workflow/reports/08SUSIE/08susie_report.html
workflow/reports/09SLDSR/09ldsr_report.html
workflow/reports/09SLDSR/09ldsr_report_pre_z-abs.html
workflow/reports/09SLDSR/09ldsr_report_pre_z-abs_6gwas.html
workflow/reports/10SMR/10smr_report.html
workflow/reports/10SMR/10smr_report_v1.html
workflow/reports/11TWAS/11twas_weights_report.html
workflow/reports/12CTWAS/12ctwas_report.html
workflow/reports/12JOBS/jobs_report.html
workflow/reports/12JOBS/jobs_report_pre_se_imp.html
workflow/reports/02SCANPY/*.xlsx
workflow/.Rhistory
workflow/scripts/.Rhistory
workflow/.cache/
workflow/.snakemake
workflow/smk-*.log
workflow/reports/benchmarks/
workflow/reports/fq_check/
